<div class="sticky-xxl-top py-3 mx-3">
  <div class="d-flex justify-content-end">
    <button
      class="btn btn-secondary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      Menú
    </button>

    <div
      class="offcanvas offcanvas-start custom-offcanvas-width"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
          Offcanvas with body scrolling
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul>
          <li>
            <a routerLink="/contacts">Lista de contactos</a>
          </li>
          <li>
            <a routerLink="/contacts/add-new">Añadir contacto</a>
          </li>
          <li>
            <a href="">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
