<div class="card cursor-pointer" style="width: 18rem">
  <img
    src="https://ui-avatars.com/api/?name={{
      user.name
    }}&background=0D8ABC&color=fff&size=128"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ user.name }}</h5>

    <div class="card-text d-flex flex-column">
      <span>Móvil: {{ user.phone }} </span>
      <span>Rol: {{ user.role | titlecase }}</span>

      <div class="actions d-flex justify-content-between">
        <a href="#" class="btn btn-secondary mt-2">Detalles</a>
        <a
          routerLink="/contacts/edit/{{ user.id }}"
          class="btn btn-secondary mt-2"
          >Editar</a
        >
        <button class="btn btn-secondary mt-2" (click)="onDelete()">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
