<div class="card" style="width: 18rem">
  <img
    src="https://ui-avatars.com/api/?name={{ contact.name }}+{{
      contact.lastName
    }}&background=0D8ABC&color=fff&size=128"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ contact.name }} {{ contact.lastName }}</h5>

    <div class="card-text d-flex flex-column">
      <span>Móvil: {{ contact.phone }} </span>
      <span>Email: {{ contact.email }} </span>
      <span>Cargo: {{ contact.position }} </span>
      <div class="acctions d-flex justify-content-between">
        <a href="#" class="btn btn-secondary mt-2">Detalles</a>
        <a
          routerLink="/contacts/edit/{{ contact.id }}"
          class="btn btn-secondary mt-2"
          >Editar</a
        >
        <button (click)="onDelete()" class="btn btn-secondary mt-2">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
